
<div class="container">
    <form [formGroup]="contactForm" (submit)="onSubmit()">
        <p>
            <label>Firstname</label>
            <input type="text" name="first_name" id="first_name" formControlName="firstName">
            <span *ngIf="!firstname?.valid && (firstname?.touched==true || firstname?.dirty==true)">
                <span *ngIf="firstname?.errors?.['required']">
                    first name required
                </span>
                <span *ngIf="firstname?.errors?.['minlength']">
                    min length 7 
                </span>
            </span>
        </p>
        <p>
            <label>Lastname</label>
            <input type="text" name="last_name" id="last_name" formControlName="lastNmae">
            <span *ngIf="!lastname?.valid && (lastname?.touched==true || lastname?.dirty==true)">
                <span *ngIf="lastname?.errors?.['required']">
                    last name required
                </span>
                <span *ngIf="lastname?.errors?.['pattern']">
                    only char
                </span>
            </span>
        </p>
        <p>
            <label>Email</label>
            <input type="text" name="email" id="email" formControlName="email">
        </p>
        <p>
            <label>Phone Number</label>
            <input type="text" name="phone_number" id="phone_number" formControlName="phoneNumber">
        </p>
        <p>
            <label>Gender</label>
            <input type="radio" name="gender" id="gender" value="male" formControlName="gender">Male 
            <input type="radio" name="gender" id="gender" value="female" formControlName="gender">Female

        </p>
        <p>
            <label>isMarried</label>
            <input type="checkbox" name="is_married" id="is_married" formControlName="isMarried">
            
            <span *ngIf="!ismarried?.valid && (ismarried?.touched==true || ismarried?.dirty==true)">
                <span *ngIf="ismarried?.errors?.['required']">
                    isMArried required
                </span>
            </span>
        </p>
        <p>
            <label>Contry</label>
            <select name="country" id="country" formControlName="country">
                <option value="">select</option>
                <option [ngValue]="item.id" *ngFor="let item of contryData">{{item.name}}</option>
            </select>
        </p>
        <div formGroupName="address">
            <p>
                <label>City</label>
                <input type="text" name="city" id="city" formControlName="city">
                <span *ngIf="!city?.valid && (city?.touched==true || city?.dirty==true)">
                    <span *ngIf="city?.errors?.['required']">
                        city name required
                    </span>
                </span>
            </p>
        </div>
        <button type="submit">Submit</button>

    </form>
</div>
